// @use "abstracts" as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

$prefix: "elb";

$active-theme: $light;
$enable-media-query-dark-mode: false;

// contextual
$color-text-default: $color-neutral-700;
$color-background-default: $color-neutral-000;

$color-text-interactive-default: $color-primary-600;
$color-text-interactive-hover: $color-accent-800;

// set to 0 to disable:
$letter-spacing-loose: 0;

$border-radius-1: $size-4;
$border-radius-2: $size-1;
$border-radius-3: $size-3;
$border-radius-4: 1000px;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-500;
$body-line-height: 1.7;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-primary-800;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 108.9%;
$heading-text-transform: none;

$heading-1-font-size: $font-size-700;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-700;
$heading-2-color: $color-primary-100;
$heading-3-font-size: $font-size-650;
$heading-3-color: $heading-color-default;
$heading-3-bottom-padding: $size-4;

$text-line-height: 170%;
// layout
$grid-gap: $size-9;
$flex-group-gap: $size-11;
$grid-gap-4: $flex-group-gap;
$text-box-gap: $size-4;
$flex-row-gap: $size-12;

$section-padding-block: $size-12;
$section-padding-block-mobile: $size-11;
//-->consider adding clamp to these padding/padding blocks
$container-min-margin-inline: $size-12;
//margins on cell view are 1.625, so revisit ^
$container-max-width: 60rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 70rem;

// logo
$logo-fill-default: $color-accent-500;
$logo-size-default: $size-11;

// site header
$site-header-background-color: $color-primary-100;
$site-header-color: $color-primary-800;
$site-header-padding-block: $size-8;
$site-header-margin: 0;
$site-header-jusitifcation-small-screens: center;
$site-header-jusitifcation-large-screens: space-between;
$site-header-alignment: center;

// navigation
$navigation-color: $site-header-color;
$navigation-color-hover: $link-color-hover;
$navigation-font-size: $font-size-400;
$navigation-gap: $flex-group-gap;
$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $font-weight-default;

// hero component
$hero-font-color: $color-primary-800;
$hero-heading-font-family: $font-family-accent;
$hero-heading-font-size: $font-size-900;
$hero-heading-font-weight: $heading-font-weight;
$span-accent-font-color: $color-accent-600;
$hero-line-height: $heading-line-height;
$hero-image-border-radius: $border-radius-1;
$hero-text-padding-block: $size-11;
$hero-padding-block: $size-14;
$hero-margin-inline: $size-15;

// about box component
$image-border-radius-upleft: $border-radius-4;
$image-border-radius-upright: $border-radius-4;
$about-image-background: $color-primary-200;
$about-background: $color-primary-800;
$about-text-color: $color-primary-100;
$about-text-box-gap: $text-box-gap;

// segment component & inverse (& white?)
$segment-color: $color-neutral-600;
$segment-color-inverse: $color-primary-100;
$segment-background-color: $color-background-default;
$segment-background-color-inverse: $color-primary-800;
$segment-image-background-color: $color-primary-200;
$segment-flex-gap: $flex-row-gap;
$segment-text-box-gap: $text-box-gap;
$segment-list-font-family: $font-family-accent;
$segment-list-font-size: $font-size-675;
$segment-text-line-height: $text-line-height;

// site footer
$footer-background-color: $color-background-default;
$footer-text-color: $body-text-color;
$footer-link-color: $body-text-color;
$footer-link-color-hover: $link-color-hover;
$footer-link-font-family: $body-font-family;
$footer-link-text-decoration: none;
$footer-fine-print: $font-size-200;
$footer-fine-print-family: $body-font-family;

$hr-color: $color-neutral-100;

// buttons
$button-border: 0;
$button-border-radius: $border-radius-2;
$button-font-family: $font-family-base;
$button-font-size: $font-size-500;
$button-font-weight: $font-weight-default;
$button-line-height: $text-line-height;
$button-padding: .5em 1em;
$button-text-transform: none;

$button-primary-color: $color-neutral-000;
$button-primary-background: $color-primary-600;
$button-primary-color-hover: $color-primary-800;
$button-primary-background-hover: $color-extra-250;

$button-accent-color: $color-primary-800;
$button-accent-background: $color-accent-600;
$button-accent-color-hover: $color-primary-800;
$button-accent-background-hover: $color-accent-200;

$link-button-background-color: $color-neutral-100;
$link-button-color: $color-primary-600;

// cards
$card-flow-spacing: $size-2;
$card-spacing: $size-6;
// $card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-3;
$card-background-default: $color-primary-100;
$card-color-default: $body-text-color;
$card-font-family: $font-family-accent;
$card-line-height: 1.25;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-600;
$card-body-padding: $size-7;
$card-heading-accent: $color-accent-500;

// custom grid component

$grid-card-padding: $size-6;
$grid-card-border-radius: $border-radius-1;
$grid-card-text-size: $size-4;
$grid-link-pink: $color-extra-700;
$grid-link-yellow: $color-extra-650;
$grid-link-green: $color-accent-800;
$grid-link-blue: $color-extra-800;

$grid-link-pink-hover: $color-extra-400;
$grid-link-yellow-hover: $color-extra-450;
$grid-link-green-hover: $color-accent-600;
$grid-link-blue-hover: $color-extra-500;