@use "../abstracts/" as *;

.grid-to-center {
    display: grid;
    gap: $grid-gap;
    place-content: center;
}

.grid-to-center-gap2 {
    display: grid;
    gap: $grid-gap-4;
    place-content: center;
}

.grid-to-center-gap3 {
    justify-items: center;
    display: grid;
    gap: $size-10;
    place-content: center;
}

.grid-to-center-gap4 {
    justify-items: center;
    display: grid;
    gap: $text-box-gap;
    place-content: center;
}

.grid-to-center-footer {
    justify-items: center;
    display: grid;
    gap: $footer-grid-gap;
    place-content: center;
}