@use "../abstracts/" as *;

.card {
  align-content: space-between;
  align-items: center;
  background-color: $card-background-default;
  border-radius: $card-border-radius;
  color: $card-color-default;
  display: grid;
  font-family: $card-font-family;
  gap: $card-flow-spacing;
  justify-items: center;
  line-height: $card-line-height;
  padding: $card-body-padding;
  width: 315px;

  &__top-card {
    display: grid;
    gap: $size-3;
    justify-items: center;
    
    .small-text {
      font-size: $font-size-200;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    padding-block: $size-9;
  }

  &__checked-row {
    display: flex;
    gap: $size-6;

    .check-icon {
      font-size: $size-6;
      min-height: $size-6;
      max-height: $size-6;
      min-width: $size-6;
      max-width: $size-6;
    }
  }
}
