@use "../abstracts/" as *;

.grid-cards {
    display: grid;
    font-size: $grid-card-text-size;
    gap: $grid-card-padding;
    grid-template-columns: 1fr;
    @include mq(medium) {
        
        grid-template-columns: repeat(3, 1fr);
    
        & > :nth-child(2),
        & > :nth-child(3) {
          grid-column: span 2;
        }
      
        p {
          max-width: 32ch;
        }
    }

    &__green-card {
        @include icon-card($color-accent-200, 60%);
        background-image: url("/assets/book.svg");
        background-position: bottom -55px right -15px;

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
        
    }
    
    &__yellow-card {
        @include icon-card($color-extra-150, 65%);
        background-image: url("/assets/advertising-icon.svg");
        background-position: bottom 120% right -55%;
        
        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
        
        p {
            width: 55%;
        }
    }

    &__pink-card {
        @include icon-card($color-extra-200, 60%);
        background-image: url("/assets/social-media-icon.svg");
        background-position: bottom 50% right -10%;

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }

        p {
            width: 55%;
        }
    }

    &__blue-card {
        @include icon-card($color-extra-250, 60%);
        background-image: url("/assets/analytics-icon.svg");
        background-position: bottom -90px right -10%;

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
    }
}