@use "../abstracts/" as *;

.grid-cards {
    display: grid;
    font-size: $grid-card-text-size;
    gap: $grid-card-padding;
    grid-template-columns: 1fr;

    
    @include mq(medium) {
        grid-template-columns: repeat(3, 1fr);
        
        & > :nth-child(2),
        & > :nth-child(3) {
            grid-column: span 2;
        }

        p {
            width: 32ch;
        }
    }

    &__green-card {
        @include icon-card($color-accent-200, 200px);
        background-image: url("/assets/book.svg");
        background-position: 90% 140%;

        @include mq(medium) {
            background-position: 90% 140%;
        }

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
        
    }
    
    &__yellow-card {
        @include icon-card($color-extra-150, 320px);
        background-image: url("/assets/advertising-icon.svg");
        background-position: 210% 170%;

        @include mq(medium) {
            @include icon-card($color-extra-150, 380px);
            background-position: 120% 140%;
        }
        
        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
    }

    &__pink-card {
        @include icon-card($color-extra-200, 250px);
        background-image: url("/assets/social-media-icon.svg");
        background-position: 100% 210%;

        @include mq(medium) {
            @include icon-card($color-extra-200, 350px);
            background-position: 105% 50%;
        }

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }

    }

    &__blue-card {
        @include icon-card($color-extra-250, 175px);
        background-image: url("/assets/analytics-icon.svg");
        background-position: 90% 130%;

        @include mq(medium) {
            background-position: 100% 130%;
        }

        & .heading-3 {
            padding-bottom: $heading-3-bottom-padding;
        }
    }
}