@use "../abstracts/" as *;
.hero {
    &__image {
        object-fit: cover;
        height: 100%;
        border-radius: $hero-image-border-radius;

    }

    .hero__heading {
        display: flex;
        flex-direction: column;

        .span-accent {
            color: $span-accent-font-color;
            line-height: $hero-line-height;
        }

    }

    .hero__text {
        color: $color-neutral-600;
    }
}

.hero__secondary {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $size-11;

    &__button {
        border-radius: $size-8;
        font-family: $hero-heading-font-family;
        line-height: 109%;
        padding: $size-4 $size-8;
        position: absolute;
    }
}