@use "../abstracts/" as *;
.hero {
    align-items: center;
    display: flex;
    gap: $size-11;
    justify-content: space-between;
    padding-block: $hero-padding-block;

    .container-text {
        display: flex;
        flex-direction: column;
        gap: $size-4;
        justify-content: space-between;
        max-width: 490px;
        padding-block: $hero-text-padding-block;

        .hero__heading {
            display: flex;
            flex-direction: column;

            .span-accent {
                color: $span-accent-font-color;
                line-height: $hero-line-height;
            }
        }
    }

    &__image {
        border-radius: $hero-image-border-radius;
        height: 438px;
        width: 550px;
        object-fit: cover;
        object-position: center;
    }
}

.hero__secondary {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $size-11;

    &__image {
        border-radius: $hero-image-border-radius;
        height: 514px;
        width: 1120px;
    }

    &__button {
        border-radius: $size-8;
        font-family: $hero-heading-font-family;
        line-height: 109%;
        padding: $size-4 $size-8;
        position: absolute;
    }
}