@use "../abstracts/" as *;

// use photo-fit utility class for object-fit and object-cover

.img__about {
    background-color: $about-image-background;
    border-top-left-radius: $image-border-radius-upleft;
    border-top-right-radius: $image-border-radius-upright;
}

.img__base {
    object-fit: cover;
    height: 100%;
}

.img__phone__circle {
    background-color: $segment-image-background-color;
    height: 400px;
    width: 400px;
}

.img__redshirt {
    border-top-left-radius: $border-radius-5;
    border-top-right-radius: $border-radius-5;
    border-bottom-right-radius: $border-radius-5;
    height: 370px;
    width: 247px;
}

.img__hero__page2 {
    border-radius: $hero-image-border-radius;
    height: 514px;
    width: 1120px;
}