@use "../abstracts/" as *;

.segment {
    background-color: $segment-background-color;
    color: $segment-color;

    &__spacing {
        
    }
    &__image {
        background-color: $segment-image-background-color;
    }
}

.segment-inverse {
    background-color: $segment-background-color-inverse;
    color: $segment-color-inverse;
}