@use "../abstracts/" as *;

.segment {
    background-color: $segment-background-color;
    color: $segment-color;

    &__spacing {
        display: flex;
        gap: $segment-flex-gap;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        gap: $segment-text-box-gap;
        justify-content: center;
        width: 650px;

        h2 {
            width: 450px;
        }

    }

    &__image {
        background-color: $segment-image-background-color;
        height: 400px;
        width: 400px;
    }
}

.segment-inverse {
    background-color: $segment-background-color-inverse;
    color: $segment-color-inverse;

    &__spacing {
        display: flex;
        gap: $segment-flex-gap;

        &__left {
            display: flex;
            flex-direction: column;
            flex-basis: 1;
            gap: $flex-group-gap;
            
            .list-container {
                display: flex;
                flex-direction: column;
                font-family: $font-family-accent;
                font-size: $segment-list-font-size;
                width: 530px;

                & div svg {
                    align-self: flex-end;
                }
            }

        }

        &__right {
            display: flex;
            flex-direction: column;
            font-family: $font-family-base;
            gap: $text-box-gap;
            line-height: $segment-text-line-height;
            min-width: 400px;
        }
    }
}