@use "../abstracts/" as *;

.table-grid-head {
    display: grid;
    font-family: $table-font-family;
    grid-template-columns: repeat(4, 1fr);
    line-height: $body-line-height;
    max-width: 1010px;
    min-width: 850px;


    &-cell {
       background-color: $body-background-color;

        p {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }
}

.compare-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(1000px, 100%), 1fr));
    max-width: 1010px;
    min-width: 850px;

    .table-grid {
        justify-items: center;
        display: grid;
        font-family: $table-font-family;
        grid-template-columns: repeat(4, 1fr);
        line-height: $body-line-height;
        .cell-text {
            align-self: center;
            text-align: start;
            width: 100%;
        }
        
        &-cell {
            align-items: center;
            background-color: $body-background-color;
            
            
            &-svg {
                align-content: center;
            }
        }
    }
    
    .table-grid:where(:not(:last-child)) {
        border-block-end: $table-border-bottom;
    }
}
